<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
    <style>
        body {
            background-image: url(https://gitlab.com/martingabriel75/my-profile-web/raw/master/lab_1/templates/background.jpg);
            background-repeat:no-repeat;
            background-size:cover;
        }
        
        .box {
            position: absolute;
            background-color: rgb(0, 0, 0);
            color: rgb(255, 255, 255);
            padding: 10px;
            opacity: 0.7;
            left: 100px;
            width: 300px;
            height: 630px;
        
        }
        
        h1 {
            top: 70px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
        
        </style>
</head>
<body>
    <h1>Hello, {{ name }} here,</h1>
    <pre class= box bottom= 1000px>



        <img src="https://scontent-sin2-1.xx.fbcdn.net/v/t1.0-9/27544819_10204282286374806_4168074562982187402_n.jpg?_nc_cat=102&_nc_eui2=AeHxthIUs7sFSbZWIuG8TptwTQF5j_ime-9iN14n3iGfThEjs49_LWlDjJCyEciOupGV-6dYlHVY7ne3bO7_zE3N8by1CWQnAZQ8MjL3VaqDtg&_nc_oc=AQnCnUSUULHp_v3J53Pkp2ByL3DCPVbtPIj4Zc31t3Co9h5nTQEUOXgShpCUDSFmN-g&_nc_ht=scontent-sin2-1.xx&oh=d14f87ec294dd1f66e23eeb727e306a4&oe=5E0D3805" alt="This photo is courtesy of Marthin Gabriela" style="width:200px;height:220px;top:500px;left:500px">




    NPM: {{ npm }}
        <article>I am {{ age }} years old</article>
    A man with tendencies to procrastinate
    Heavily interested in writing
    Proudly part of Quanta 2018
    Currently in pursuit of Bachelor degree <br>    on CS Faculty of Universitas Indonesia
    </pre>

    

</body>
</html>
