<!DOCTYPE html>
<html>

<head>

<title>{{ name }}</title>

<style>
body {
    background-image: url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.box {
    position: absolute;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    opacity: 0.7;
    left: 100px;
    width: 300px;
    height: 630px;

}

h1 {
    top: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

</style>

</head>


<body>

    <h1>Hello, {{ name }} here,</h1>
    <pre class= box bottom= 1000px>
    NPM: {{ npm }}
    I am {{ age }} years old
    A man with tendencies to procrastinate
    Heavily interested in writing
    Proudly part of Quanta 2018
    Currently in pursuit of Bachelor degree <br>    on CS Faculty of Universitas Indonesia
    </pre>

</body>
</html>